*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a img,
:link img,
:visited img {
  border: 0;
}

:focus {
  outline: 0;
}
.clear {
  clear: both;
}

img {
  max-width: 100%;
  display: block;
}

/* @Grid */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.d-flex {
  display: flex;
}

.flex-direction {
  flex-direction: column;
}

.flex-3 {
  flex-basis: calc(100% / 3);
}

.flex-2 {
  flex-basis: calc(100% / 2);
}

@media (min-width: 1150px) {
  .container {
    max-width: 1150px;
  }
}

@media (max-width: 830px) {
  .container {
    max-width: 830px;
  }

  .flex2 {
    flex: calc(100% / 2);
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }

  .flex-1 {
    flex: 100%;
  }
}

.header {
  background-color: #2c3e50;
}

.logo h1 {
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}

.menu-list-item .menu-link {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

@media (min-width: 1150px) {
  .header {
    padding: 30px 0;
  }

  .menu-list-item {
    padding: 0 30px;
  }

  input,
  textarea {
    width: 800px;
  }
}

@media (max-width: 1150px) {
  .menu {
    display: none;
  }
  .header {
    padding: 15px 0;
  }
}

.hero-text {
  font-size: 50px;
  color: #ffffff;
  font-weight: 900;
}

.hero-description {
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1150px) {
  .hero-text {
    font-size: 25px;
  }
}

i {
  color: #fff;
  font-size: 25px;
}

/* @ Text-Align */

.text-center {
  text-align: center;
}

/* @Text-Transform */

.text-transform {
  text-transform: uppercase;
}

/* @ Margin */

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* @ Paddding */

.pb-100 {
  padding-bottom: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.color-bg {
  color: #2c3e50;
  font-size: 40px;
  font-weight: 700;
}

.color-white {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.bg-blue {
  background-color: #1abc9c;
}

.bg-white {
  background-color: #fff;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

@media screen and (max-width: 800px) {
  .pb-50 {
    padding-bottom: 50px !important;
  }
}

.relative {
  position: relative;
}

img {
  border-radius: 5px;
}
.color-blue {
  color: #2c3e50;
}

.relative {
  position: relative;
}

.relative::before {
  position: absolute;
  content: "+";
  top: 50%;
  font-size: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  color: #fff;
  opacity: 0;
}

.relative:hover::before {
  opacity: 0.8;
  background-color: #1abc9c;
  border-radius: 5px;
  padding: 88px 153px;
}

.about-me p {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

/* @ Button */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-green {
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: #1abc9c;
  border-radius: 5px;
}

.btn-green a {
  display: inline;
  margin-left: 15px;
}

.btn-green:hover {
  background-color: #fff;
}

.btn-green:hover a,
.btn-green:hover i {
  color: #000;
}

.btn-green a {
  color: #fff;
}

.btn-dark-green {
  padding: 15px 20px;
  border: 1px solid #1abc9c;
  background-color: #1abc9c;
  color: #fff;
  border-radius: 5px;
}

.btn-dark-green:hover {
  background-color: #12846e;
  border-color: #12846e;
}

.form {
  align-items: center;
}

input,
textarea {
  border-bottom: 1px solid rgb(220 210 210);
  font-size: 22px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  width: 100%;
}

.form {
  align-items: center;
}

input,
textarea {
  border-bottom: 1px solid rgb(220 210 210);
  font-size: 22px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  width: 100%;
}

.bg-dark-blue {
  background-color: #2c3e50;
}

h3 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
}

.location p,
.about-free p {
  color: #fff;
}

.social-media-list {
  align-items: center;
  justify-content: center;
}

.social-media-list .social-media-list-item {
  margin-left: 20px;
}

.social-media-list i:hover {
  background-color: #fff;
  color: #000;
}

.social-media-list i {
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 15px;
}

.about-free a {
  color: #12846e;
}

.about-free a:hover {
  text-decoration: underline;
  color: #23ac9a;
}
.copyright {
  background-color: #1a252f;
}

.copyright p {
  color: #fff;
}
